<div class="about-front-page">
	<div class="container py-5 text-center">
		<div class="row">
			<div class="col-12 text-center mb-4">
				<h2>О компании</h2>
			</div>
			{% for item in items %}
			  {{ item.content }}
			{% endfor %}
		</div>
	</div>
</div>
