<div class="clients-block">
	<div class="clients-block-inner">
		<div class="container py-5">
			<div class="row">
				<div class="col-12 text-center mb-4">
					<h2 class="text-white">{{ label }}</h2>
				</div>
				{{ content }}		
			</div>
		</div>
	</div>
</div>