<div class="col-lg-6">
	<div class="row h-100 align-items-center">
		<div class="col-7 p14 light">
			<div class="address-top">{{ address }}</div>
			<div class="time-top">Время работы: {{ time }}</div>
		</div>
		<div class="col-5 top-call"> 
			<div class="top-phone"><a href="tel:{{ phone }}" class="p22 bold text-dark">{{ phone }}</a></div>
			<!--div><a href="#" class="p13 light text-dark">Заказать звонок</a></div-->
		</div> 
	</div>
</div>