<div class="phone-bottom text-right col-lg-3 d-flex flex-column">
	<p class="flex-grow-1">Разработка сайта - Name</p>
	<a href="tel:{{ phone }}" class="text-white p20 bold">{{ phone }}</a>
	<p class="text-white px-0 mb-0">{{ address }}</p>
</div> 