<div class="col-lg-6">
	<div class="row">
		<div class="col-7">
			<div class="address-top">{{ address }}</div>
			<div class="time-top">Время работы: {{ time }}</div>
		</div>
		<div class="col-5"> 
			<div class="top-phone"><a href="tel:{{ phone }}">{{ phone }}</a></div>
			<div><a href="#">Заказать звонок</a></div>
		</div>
	</div>
</div>