html{height: 100%; min-height: 33%;}
body{font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 400;} 


.p12{font-size: 12px;}
.p13{font-size: 13px;}
.p14{font-size: 14px;}
.p18{font-size: 18px;}
.p20{font-size: 20px;}  
.p22{font-size: 22px;}
.p24{font-size: 24px;}
.p28{font-size: 28px;}
.p30{font-size: 30px;}
.p32{font-size: 32px;}
.p36{font-size: 36px;}
.p40{font-size: 40px;}
.p42{font-size: 42px;}
.p48{font-size: 48px;}
.p200{font-size: 200px;}
.bold{font-weight: 700;}
.light{font-weight: 300;} 
.medium{font-weight: 500;}
.bg-main{background: #1c94c4;}
.color-main{color: #1c94c4;}
.color-grey{color: #686868;}
.bg-second{background: #ebebeb;}

/*Header*/
.top-menu{background: #a7e2f9;}
.top-menu span{font-size: 12px!important; color: #fff!important;}
.top-menu li:first-child span{display: none;}
.owl-nav button{font-size: 50px!important;}
.owl-nav .owl-prev{margin-right: 2rem;}
.fx{width: 100%; top: 0; height: 65px;  z-index: 100;}
a.logo-name{line-height: 16px;} 
a.logo-name:hover{text-decoration: none;}
.top-call{line-height: 18px;} 
.btn-success{background: linear-gradient(45deg, #f220ab, #473dd1);}
.product-menu{padding: 0; height: 3.5rem;}
.product-menu a{text-transform: uppercase; color: #fff;}
.product-menu .navbar-nav .nav-link{color: #fff!important;}
.product-menu .dropdown-item .nav-link{color: gray!important;}
.product-menu .dropdown-item.active, .dropdown-item:active{background: #1c94c4!important;}
.product-menu .dropdown-item.active a, .dropdown-item:active a{color: #fff!important;}
.product-menu ul li{border-left: 1px solid rgba(255, 255, 255, 0.5); padding-left: 1rem; padding-right: 1rem;}
.product-menu ul li:last-child{border-right: 1px solid rgba(255, 255, 255, 0.5);}
#block-cart-block{
position: fixed; 
top: 25%; right: 0;
background: #1c94c4;
padding: 1.2rem;
border-radius: 5px 0 0 5px;
border: 1px solid #fff;
z-index: 100;
}
.btn-primary{background: #1c94c4!important;}
  
/*bunner*/

/*Главная страница*/
.circle{width: fit-content; padding: 2rem 2.2rem;}
.circle span{ font-size: 50px;}
.lider-block img{height: 250px; width: auto!important; display: inline!important;}
.catalog-list img{height: 250px; width: fit-content!important; display: inline!important;}*
.catalog-list-frontpage a:hover,
.lider-block a:hover{text-decoration: none;}
.catalog-list-frontpage .card:hover,
.lider-block .card:hover,
.catalog-list .card:hover
{box-shadow: 0 0 10px rgba(0,0,0,0.5); transition: all 0.1s ease 0s;}
.catalog-list-frontpage .owl-carousel .owl-item{height: 500px; margin-bottom: .5rem;}
.card-footer{background: none; border-top: none;}
.clients-block{background: url('/themes/custom/asio/images/bg-cliets.jpg') no-repeat top center;}
.clients-block-inner{background: rgba(21,55,80, 0.87);}
.clients-block .owl-carousel .owl-item img{width: 80%; height: auto; display: inline;}
.clients-block .owl-carousel .owl-item{
text-align: center; 
background: #fff; 
height: 125px; 
display: flex; 
align-items: center;
justify-content: center;
}
.map-contacts{z-index: 10; top: 15%; left: 8%;}

/*Footer*/
footer{background: #202020;}

/*catalog*/
.catalog img{width: 100%; height: auto;}
.catalog a, .catalog-list a{text-decoration: none;}
.catalog-list a{color: black;}
.catalog-list a.button{color: white;}
.catalog .card:hover{box-shadow: 0 0 10px rgba(0,0,0,0.5); transition: all 0.1s ease 0s;}
.sub-menu{margin-top: 4rem;}
.sub-menu .navbar-nav .dropdown-menu{position: static!important; border: none;} 
.sub-menu .nav-item,
.sub-menu .nav-item a{padding-left: 0!important; text-transform: uppercase; color: #686868; font-size: 14px;} 
.sub-menu .nav-item{padding-bottom: .3rem; padding-top: .3rem;}
.sub-menu .navbar-nav{width: 100%;}
.sub-menu .navbar-nav .nav-item{border-bottom: 1px solid #dee2e6;}
.sub-menu .dropdown-item{padding-left: 1rem!important;}
.sub-menu .dropdown-item a{text-transform: capitalize;}


 
 
/*map*/
#map{height: 500px;} 

.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:15px;
display:none;
text-indent:-9999px;
background: url("/themes/custom/stavmaster/images/icon_top.png") no-repeat;
}
 

@media (max-width: 1200px) {
	
} 

@media (max-width: 992px) {
	
} 
 
@media (max-width: 768px) {
	
}  
 
@media (max-width: 576px) {

}





