<div class="col-lg-6">
	<div class="row border-top align-items-center justify-content-between line mr-2">
		<span class="material-icons">check</span>
		<div class="p14">{{ fields.field_sub_header.content }}</div>
		<div class="p20">{{ fields.add_to_cart_price.content }} руб.</div>
		<div class="">{{ fields.add_to_cart.content }}</div>
	</div>  
</div> 
 