<div class="col-md-6 col-lg-4 mb-4">
	<div class="card h-100">
	  {{ fields.field_cover_catalog.content }}
	  <div class="card-body d-flex flex-column">
		<h5 class="card-title">{{ fields.name.content }}</h5>
		<div class="flex-grow-1">
			<p class="card-text">{{ fields.description__value.content }}</p>
		</div>
		<a href="{{ fields.view_taxonomy_term.content }}" class="stretched-link color-main d-flex align-items-center">Продукция <span class="material-icons ml-1">trending_flat</span></a>
	  </div>
	</div>
</div> 
