<div class="col-lg-3 d-flex align-items-center">  
	<a href="{{ path('<front>') }}" rel="home" class="mr-2">
	  <img src="{{ site_logo }}" alt="{{ 'Главная'|t }}" />
	</a>
	<a href="{{ path('<front>') }}" rel="home" class="logo-name p14 bold text-dark mt-3 w-50">металлическая мебель</a>
</div>