<div class="product row">
	<div class="col-lg-7">
		<div class="card mt-2">
		  <div class="card-body">
			<h5 class="card-title color-main p36 mb-4">{{ content.add_to_cart_price }}</h5>
			<h6 class="card-subtitle mb-4">{{ content.add_to_cart }}</h6>
			<div class="color-grey">{{ content.body }}</div>			
		  </div>
		</div> 
		<div class="w-100 py-4">
			<h6>Поделиться:</h6>
			<script src="https://yastatic.net/share2/share.js"></script>
			<div class="ya-share2" data-curtain data-shape="round" data-services="messenger,vkontakte,odnoklassniki,telegram,whatsapp"></div>		
		</div>		
	</div>
	<div class="col-lg-5 d-flex flex-column">
		<div class="flex-grow-1">
		{{ content.field_photo }}
		</div>
	</div>
</div>